@charset "utf-8";

.section-container,
.section-article {
	position:absolute;
	left:20%;
	right:20%;
	box-sizing:border-box;
}
.samples-section,
.refs-section {
	counter-reset: section;
	list-style-type:none;
	display:inline-block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding:5px 8px;
	width:auto;
	border-radius:4px;
	color:#333;
  margin-left:10px;
  display:block;
  animation: show-menu 1s forwards;
  font-family:'Papyrus';
}
.samples-section-item,
.refs-section-item {
		display: inline-block;
		width:50px;
		height:40px;
		margin-left:10px;
		font-size: 20px;
		cursor:pointer;
		color:#345;
}
.samples-section-item:hover,
.refs-section-item:hover {
		color:#fff;
}
.refs-section-item {
		background-image:url(../images/link.ico);
		background-size:70%;
		background-repeat:no-repeat;
		background-position: top left;
		text-align: right;
}
.refs-section-item:before {
	counter-increment: section;
  	content:"\0020 \0020" counter(section);
}
.refs-section-item:hover {
	background-image:none;
}
.refs-section-item:hover:before {
	text-align: left;
  	content:"\26FD \0020 \0020" counter(section);
}
.samples-section-item:before {
  	counter-increment: section;
	content:"\2615 \0020 \0020" counter(section);
}
.samples-section-item:hover:before {
	content:"{} \0020" counter(section);
}
.samples-section-item:visited:before, .sample-button:active:before {
  	content:"\26F3 \0020 \0020 sample";
}

.section-article-title {
	position: sticky;
	font-weight:bold;
	font-family:'Comic Sans MS';
	background-color:#000;
	color: #bbb;
	padding-left:20px;
}

.section-article .content {
  position:relative;
  top:-80px;
  left:0%;
  min-height:120px;
  box-sizing:border-box;
  padding:10px;
  overflow:auto;
  border: dotted 1px #555;
}
.section-article {
	width:100%;
}
.content {
	width:85%;
}
.article-annotation {
	width:92%;
}
.left-article-aside {
  position: sticky;
  top:20px;
  left:85%;
  width:10%;
}
.section-article li,
.readme-button,
.readme-button-active,
.code-button,
.code-button-active {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	outline:none;
	/*-webkit-appearance: button;
	background-color: buttonface;*/
}

.readme-button, .readme-button-active,
.code-button, .code-button-active {
		/*position: absolute;*/
		display:inline-block;
		background:none;
		border: 0;
		color:#dde;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.7);
		/*outline:none;*/
		top:0px;
		/* right:-30px; */
		font-size:30px;
		font-family: papyrus, monospace;
		padding: 0 5px;
}
.code-button:before {
	/*content: "\25E9";*/
		content: "\2774 \2775";
		display:inline-block;
		transition:all 0.5s;
}
.code-button:hover:before {
		/*content: "\25EA";*/
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
}
.code-button-active:before {
	/*content: "\25EA";*/
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #900;
}
.readme-button:before {
		/*content: '\25D0';*/
		content: '\2753';
		border:solid 1px;
		border-radius:100%;
		width:40px;
		height:40px;
		padding:0;
		box-sizing: border-box;
		display:inline-block;
		transition:all 0.5s;
}
.readme-button:hover:before {
	/*content: '\25D1';
	content: '\2047';*/
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);

}
.readme-button-active:before {
	/*content: '\25D1';*/
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #900;
}
.readme {
	position:relative;
	top: -50px;
	left:0%;
	width:72%;
	padding:10px 20px;
	/*border: inset 1px;*/
}

@media screen and (max-width:720px) and (min-width:481px) {
	.section-container,
	.section-article {
		left:5%;
		right:5%;
	}
}
@media screen and (max-width:999px) and (min-width:721px) {
	.section-container,
	.section-article {
		left:10%;
		right:10%;
	}
}

@media screen and (max-width:480px) {
	.section-container,
	.section-article {
		left:20px;
		right:20px;
	}
}
@media screen and (min-width:1000px) {
	.section-container,
	.section-article {
		left:20%;
		right:20%;
	}
}
