@charset "utf-8";
.section-article {
	width:100%;
	box-sizing:border-box;
}
.section-article-title,
.section-article-title-active {
	font-weight:bold;
	font-family:'Comic Sans MS';
}
.section-article-title:before {
	content: "\25BA \0020";
}
.section-article-title-active:before {
	content: "\25BC \0020";
}
.section-article ol {
	display:inline-block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
.section-article-title,
.section-article-title-active,
.section-article li {
	padding:5px 8px;
	width:auto;
	border-radius:4px;
	/*border:dotted 1px #5a8;*/
	color:#057;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: -webkit-linear-gradient(left, #fff, #ddd);
	background: -o-linear-gradient(left, #fff, #ddd);
	background: -moz-linear-gradient(left, #fff, #ddd);
	background: linear-gradient(to left, #fff, #ddd);
}
.section-article li {
  margin-left:10px;
  width:110px;
  display:inline-block;
  animation: show-menu 1s forwards;
  font-family:'Lucida Console';
}
.section-article section {
  counter-reset: section;
}

.section-article li:before {
  counter-increment: section;
  content:"\2615 \0020 \0020 Пример \0020" counter(section);
}
.section-article li:hover:before {
  content:"\2691 \0020 \0020" counter(section);
}
.section-article li:visited:before, .article a:active:before {
  content:"\26F3 \0020 \0020 Пример";
}

