body {
  width:100%;
  font-family: Tahoma;
  font-size:16px;
}
.router-link-active {
  color:#800;
}
.user {
  position:absolute;
  top:5%;
  left:8%;
  bottom:5%;
  border-top-left-radius:20px;
  right:5%;
  border: inset 1px;
  padding: 10px 20px;
}
.picture {
  width:40%;
}
.article, .userInfo {
  position:absolute;
  top:120px;
  left:10px;
  right:10px;
  bottom:10px;
  overflow:auto;
}
.articles-enter-active, .articles-leave-active {
  animation: show-menu 1s easy-in-out forwards;
}
.articles-enter, .articles-leave-to {
  animation: hide-menu 0.5s forwards;
}
.articles-enter-to, .articles-leave {
  animation: hide-menu 0.5s forwards;
}

.article img {
  float:left;
  width:200px;
  margin: 0 15px 20px 5px;
}
.article p {
  text-align:justify;
  padding-right:15px;
}

.userIco {
  width:45px;
  float:left;
  margin-right:10px;
  z-index:300;
}

.menu_button {
  position:fixed;
  z-index:100;
  top:5px;
  left:5px;
  width:30px;
  height:30px;
  cursor:pointer;
  margin:0px;
  padding: 2px 4px;
  border: none;
  font-size:30px;
  font-weight:bold;
  -webkit-user-select: none;
  user-select: none;
  outline:none;
  background-color:transparent;
}
.menu_button:hover {
  color:#fff;
  text-shadow:0px 0px 2px rgba(50,50,0,0.7);
}
.dropdown, .dropdown-active {
  position:fixed;
  z-index:300;
  top:45px;
  left:10px;
  margin:0;
}
.dropdown-active {
  background-color:transparent;
  max-height:80%;
  overflow:auto;
}
.menu-item {
  display:block;
  text-decoration:none;
  color:#555;
  padding: 10px 20px;
  background-color:#ddd;
  cursor:pointer;
}
.menu-item:hover {
  border:dashed 1px #777;
  background-color:#555;
  color:white;
}
.article li {
  margin-left:40px;
  animation: show-menu 1s forwards;
  background: -webkit-linear-gradient(right, #999, #fff, #fff);
  background: -o-linear-gradient(right, #999, #fff, #fff);
  background: -moz-linear-gradient(right, #999, #fff, #fff);
  background: linear-gradient(to right, #999, #fff, #fff);
}
.article section {
  counter-reset: section;
}

.article li:before {
  counter-increment: section;
  content:"\2615 \0020 \0020 Пример \0020" counter(section);
  text-shadow: 0px 0px 1px rgba(255,255,255,1);
}
.article li:hover:before {
  content:"\2693 \0020 \0020" counter(section);
  text-shadow: 0px 0px 1px rgba(0,0,0,1);
}
.article li:visited:before, .article a:active:before {
  content:"\26F3 \0020 \0020 Пример";
}
footer {
  position: fixed;
  bottom:5px;
  left:10px;
  height:30px;
  width:100%;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:left center;
  background-image:url(a-level.png);
}
header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:30px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right center;
  background-image:url(vue.svg);
}
.menu-active-enter-active {
  animation: show-menu 0.5s forwards;
}
.menu-active-leave-active {
  animation: hide-menu 0.5s forwards;
}
@keyframes show-menu {
    0% { margin-left: -100px; opacity: 0; }
  100% { margin-left:40px; opacity:1; }
}
@keyframes hide-menu {
    0% { margin-left: 40px; opacity:1; }
  100% { margin-left:-100px; opacity: 0; }
}
.slideDown-enter-active { animation: show-item-down 1s forwards }
.slideDown-leave-active { animation: hide-item-down 1s forwards }

.slideUp-enter, .slideUp-leave-to { transition: all 0.2s; opacity:0; }
.slideUp-enter-to, .slideUp-leave { transition: all 0.2s; opacity:1; }

.slideUp-enter-active { animation: show-item-up 1s forwards }
.slideUp-leave-active { animation: hide-item-up 1s forwards }

.slideLeft-enter-active { animation: show-item-left 3s forwards }
.slideLeft-leave-active { animation: hide-item-left 3s forwards }
.slideRotate-enter-active { animation: show-item-rotate 3s forwards }
.slideRotate-leave-active { animation: hide-item-rotate 3s forwards }

@keyframes show-item-down {
    0% { margin-top: 40px; opacity: 0; }
  100% { margin-top:0; opacity:1; }
}
@keyframes hide-item-down {
    0% { margin-top: 0px; opacity:1; }
  100% { margin-top: 40px; opacity: 0; }
}
@keyframes show-item-up {
    0% { margin-top: -40px; opacity: 0; }
  100% { margin-top:0; opacity:1; }
}
@keyframes hide-item-up {
    0% { margin-top: 0px; opacity:1; }
  100% { margin-top: -40px; opacity: 0; }
}
@keyframes show-item-left {
    0% { margin-left: -30%; opacity: 0; }
  100% { margin-left:0; opacity:1; }
}
@keyframes hide-item-left {
    0% { margin-left: 0px; opacity:1; }
  100% { margin-left: -30%; opacity: 0; }
}

@keyframes show-item-rotate {
    0% { transform: rotate(270deg); opacity: 0; }
  100% { transform: rotate(0deg); opacity:1; }
}
@keyframes hide-item-rotate {
    0% { transform: rotate(0deg); opacity:1; }
  100% { transform: rotate(270deg); opacity: 0; }
}
@media screen and (max-width:400px) {
  .article { border:none; padding:10px; }
  .article p { font-size:13px; }
  .article img {
    display:block;
    float:none;
    width:90%;
    margin: 5px 4%;
  }
}
::-webkit-scrollbar-track {
	border-radius: 2px;
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #000;
}

