Если вы решили создать динамический компонент, то у вас обязательно 
возникнет такая конструкция:<br/>
<br/>
<pre>
&lt;component :is="currentComponent">&lt;/component>
</pre>
<br/>
где currentComponent - это переменная, т.е. вы можете дать 
этой переменной любое другое имя<br/>
Нужно ли расшифровывать эту несложную "фигуру речи"?<br/>
Понятно, что тег &lt;component> является плейсхолдером, 
который "греет место" для какого-то компонента<br/>
На самом деле этому динамическому компоненту до лампочки, кому он 
греет место - он уступит это место любому компоненту, чье имя 
магическим образом попадет в переменную currentComponent<br/>
<br/>
Для нас с вами это означает, что в процессе мы можем переключаться 
с одного компонента на другой, меняя значение currentComponent<br/>
Вот так все easy<br/>
