<link rel="stylesheet" href="./data/roter/04.css" 
            onload="console.info('styles seccessfully loaded')" 
            onerror="console.error('Error loading styles')"/>

<div id="router-sample">
      <section>
        <button class="plus-button"
              @click="hideItem1 = changeView( 'item1' )">
          Плейсхолдер router-view
        </button>
        <transition name = "expand-elem">
          <div class="expand-elem" id="item1" v-if="!hideItem1">
            <code v-html="localData[0]"></code>
          </div>
        </transition>
      </section>
      <button class="plus-button"
              @click="hideItem2 = changeView( 'item2' )">
        Параметры на входе компонента
      </button>
      <transition name = "expand-elem">
        <div class="expand-elem" id="item2" v-if="!hideItem2">
          <code v-html="localData[1]"></code>
        </div>
      </transition>
      <button class="plus-button"
              @click="hideItem3 = changeView( 'item3' )">
        Определение маршрутов роутера
      </button>
      <transition name = "expand-elem">
        <div class="expand-elem" id="item3" v-if="!hideItem3">
          <code v-html="localData[2]"></code>
        </div>
      </transition>
    </div>

<script src="./data/roter/dataStore.js" onload="console.info ('dataStore was loaded')" onerror="console.error ('error loading dataStore')"></script>
<script src="./data/roter/vueInstance.js" onload="console.info ('vue instance was loaded')" onerror="console.error ('error loading vue instance')">
</script>
