<style>
  :root {
     --y: 100px;
}
body {
  font-family: Arial;
  margin:0;
  padding:20px;
}

small {
  display: block;
  color:#579;
}

.code-snippet {
  background-color:#000;
  color:#fff;
  padding-top:10px;
}

h5 {
  color:#807;
}
input {
  padding: 4px 10px;
  background-color:#dde;
  font-family: monospace;
  width:50%;
}
.expanded-section {
  position: relative;
}
.expanded-section .plus-button,
.expanded-section .minus-button {
  /* position: -webkit-sticky;
  position: sticky;
  top: -1px;*/
}
.plus-button, .minus-button {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index:500;
  padding:5px 10px;
  outline:none;
  border:none;
  background:linear-gradient(to bottom, #fff, #ddd );
  width:100%;
  text-align: left;
  cursor:pointer;
}

.plus-button:hover, .minus-button:hover {
  color: #30d;
}
.plus-button:before,
.minus-button:before {
  font-family: Helvetica;
  font-size:18px;
  /*font-weight:bold;*/
}
.plus-button:before {
  content:"\002B";
}
.minus-button:before {
  content:"\2013";
}

.expand-elem {
  position:relative;
  border: inset 1px;
  padding:0px 10px 20px 15px;
  transition: height 1s, opacity 1s;
  transform-origin:0 0;
}

.expand-elem-enter, .expand-elem-leave-to {
  opacity:0;
  height:0;
  transform: translate(0,var(--y));
}
.expand-elem-enter-active {
  animation: mc-dropdown 1s forwards;
}
.expand-elem-leave, .expand-elem-enter-to {
  opacity: 1;
  height: var(--y);
  transform: translate(0,0);
}
.expand-elem-leave-active {
  animation: mc-dropdown reverse 1s forwards;
}

@keyframes mc-dropdown {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
</style>

<script src="dataStore.js"></script>

<div id="router-sample">
      <section>
        <button class="plus-button"
              @click="hideItem1 = changeView( 'item1' )">
          Плейсхолдер router-view
        </button>
        <transition name = "expand-elem">
          <div class="expand-elem" id="item1" v-if="!hideItem1">
            <code v-html="localData[0]"></code>
          </div>
        </transition>
      </section>
      <button class="plus-button"
              @click="hideItem2 = changeView( 'item2' )">
        Параметры на входе компонента
      </button>
      <transition name = "expand-elem">
        <div class="expand-elem" id="item2" v-if="!hideItem2">
          <code v-html="localData[1]"></code>
        </div>
      </transition>
      <button class="plus-button"
              @click="hideItem3 = changeView( 'item3' )">
        Определение маршрутов роутера
      </button>
      <transition name = "expand-elem">
        <div class="expand-elem" id="item3" v-if="!hideItem3">
          <code v-html="localData[2]"></code>
        </div>
      </transition>
    </div>
<script>
  
new Vue ({
  el: '#router-sample',
  store: store,
  data: function () {
    return {
      console.log ( 'Store data: ', this.$store.state.items )
      localData: JSON.parse( JSON.stringify(
              this.$store.state.items ) ),
      hideItem1:true,
      hideItem2:true,
      hideItem3:true,
    }
  },
  computed: {
    theData: function () {
      return this.$store.state.human
    }
  },
  methods: {
    changeView: function ( elemId ) {
      hideItem = event.target.className === "minus-button"
      event.target.className = hideItem ? 
                "plus-button" : "minus-button"
      var property = `--y`
      if ( document.getElementById ( elemId ) ) {
        var size = document.getElementById ( elemId ).offsetHeight
      }
      else size = Math.round ( window.innerHeight * 0.7 )
      document.documentElement.style.removeProperty ( property )
      document.documentElement.style.setProperty ( property, size + 'px' )
      return hideItem
    },
    changeData: function ( field ) {
      this.localData [ field ] = event.target.value
      this.$store.commit( 'updateData', {
                  field: field,
                  value: event.target.value
              })
    }
  },
  mounted: function () {
    console.log ( 'Vue instance data: ', this.localData )
  }
})
</script>
